body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #22c55e;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

pre {
    margin-top: 15px;
    background: black;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    font-size: 12px;
}
